/Box2D/libBox2D.a
/Box2D/build/
*.o
*.o.d
/Box2D/Android/obj/
/Box2D/Box2D.xcodeproj/project.xcworkspace/xcuserdata/guanghui.xcuserdatad/UserInterfaceState.xcuserstate
/Box2D/CMakeCache.txt
/Box2D/CMakeFiles/
/Box2D/CMakeScripts/
/Box2D/Project.build/
/Box2D/Project.xcodeproj/
/Box2D/cmake_install.cmake
/Box2D/lib/
/Box2D/Box2D.xcodeproj/project.pbxproj
/Box2D/Box2D.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/Box2D/Box2D.xcodeproj/xcuserdata/guanghui.xcuserdatad/xcschemes/Box2D.xcscheme
/Box2D/Box2D.xcodeproj/xcuserdata/guanghui.xcuserdatad/xcschemes/xcschememanagement.plist
/Box2D/Box2D/Box2D-Prefix.pch
/Box2D/Makefile
/Box2D/build.sh
/Box2D/android-toolchain-x86/
/Box2D/android-toolchain/
/Box2D/prebuilt/ios/
/Box2D/prebuilt/mac/
/Box2D/prebuilt/android/armeabi-v7a/
/Box2D/prebuilt/android/armeabi/
/Box2D/prebuilt/android/x86/
